* {
  border: none;
}

window {
  background-color: #000;
  color: #fff;
  font-family: "Roboto Mono";
  font-size: 10pt;
}

#entry:selected {
  background: #1c1c1c;
  color: #ffffff;
  outline: none;
}

#text:selected {
  color: #fff;
}

#input {
  background-color: #000;
  color: #fff;
}

image {
  margin-right: .25em;
}
